---
import Container from "../container.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { getEntry } from "astro:content";


const menuitems = [
{
    // no menu needed for now, if that changes simple stuff here
    //title: "About",
    //path: "/about",
  },
];



// const create_url = (locale: string, url: string): string => {
//   const isRoot = url.match(/de\/$/)
//   if(isRoot){
//     return ''
//   } 
//   const path = url.split('/').slice(2).join('/');
//   return( `${locale}/${path}`)
// }

const create_url = (locale: string, url: string): string => {
  const currentLocale = url.match(/^\/(de|en)\//);
  if (currentLocale) {
    // Replace the current locale with the new locale
    return url.replace(currentLocale[0], `/${locale}/`);
  }

  // Handle the root URL
  if (url === '/') {
    return `/${locale}/`;
  }
  // General case, stripping the default locale and replacing it
  const path = url.split('/').slice(2).join('/');
  return `/${locale}/${path}`;
};

const de_url = create_url('de', Astro.url.pathname)
const en_url = create_url('en', Astro.url.pathname)

const cl = Astro.currentLocale;
const label = await getEntry('labels', `${cl}/labels`)


---

<style>
  .zueri{
    color: #0070b4;
  }
</style>

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <span class="font-bold text-slate-800">MOREBEACH</span>
          <span class="text-slate-600 zueri">VOLLEY</span>.ch
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          <li><a class="px-2" href="myaccount">{ label?.data.my_account }</a></li>
        <li><a class="px-2 lang-link" href={de_url}>de</a></li>
        <li><a class="px-2 lang-link" href={en_url}>en</a></li>
        </ul>
    </Astronav>
  </header>
</Container>
