---
// @ts-ignore
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
const cl = Astro.currentLocale;


const featureEntries = await getCollection('features',  ({ id }) => id.includes(`${cl}`));


interface FeatureContent {
    title: string;
    teaser: string;
}

interface Feature {
    [locale: string]: FeatureContent;
}

// we don't use a feature teaser at the moment
// less is more :) 
// const featureHeader: Feature = {
//     de: {
//         title: 'Deine Mitgliedschaft',
//         teaser: 'Ein kurzer Teaser auf Deutsch.'
//     },
//     en: {
//         title: 'Your Membership',
//         teaser: 'A short teaser in English.'
//     }
// };

// const getFeatureByLocale = (locale: string): FeatureContent | undefined => {
//     return featureHeader[locale];
// };

// const fHeader = getFeatureByLocale(`${cl}`);


---

<!--
<div class="mt-0 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    {fHeader?.title}
  </h2>
  <p class="text-lg w-3/4 mt-4 text-slate-600">
   {fHeader?.teaser}
  </p>
</div>

 -->

<div class="grid sm:grid-cols-2 md:grid-cols-3 mb-24 gap-16">
  {
    featureEntries.map((item) => (
      <div class="flex gap-4 items-start">
        <div>
          <Icon name={item.data.icon} style={{ width: '2.5em', height: '2.5em' }}/>
        </div>
        <div>
          
          <h3 class="font-semibold text-lg">{item.data.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.data.teaser}</p>
        </div>
      </div>
    ))
  }
</div>
