---
import { getEntry } from 'astro:content';
import Container from "@components/container.astro"
import Layout from '../../layouts/Layout.astro';
import TabMembership from '@components/TabMembership.astro';
import TabProfile from '@components/TabProfile.astro';
import TabEmail from '@components/TabEmail.astro';
import TabPassword from '@components/TabPassword.astro';
import fs from 'fs';

import { SESSION_COOKIE, createAdminClient, deleteUserProfile, getUserProfile } from "../../server/appwrite";
import { createSessionClient } from '../../server/appwrite';


const cl = Astro.currentLocale;
const label = await getEntry('labels', `${cl}/labels`)

// Redirect the user if not signed in
const { user } = Astro.locals;
if (!user) {
  return Astro.redirect("login");
}


const { admin_users, admin_databases} = createAdminClient();
const { account } = createSessionClient(Astro.request);
const user_profile = await getUserProfile(admin_databases, user.$id);
let f_newsletter = user_profile?.newsletter;
let f_zip = user_profile?.zip;





// Handle form action
if (Astro.request.method === "POST") {

const form_data = await Astro.request.formData();
const form_type = form_data?.get('form');


// const zip = form_data.get('zip'); 
// const newsletter = form_data.get('newsletter');

// logout block
if (form_type === "signout"){
        // Delete the Appwrite session
        await account.deleteSession("current");

        // Delete the session cookie
        Astro.cookies.delete(SESSION_COOKIE);

        // Redirect the user to register page
        return Astro.redirect(`login`);
}

// delete user account block 
if (form_type === "delete"){
        const user = await account.get();
        // remember identities is for oauth providers
        // you can remove certain providers from you account
        // with deleteIdentity. 
        // also remind that there is password recovery already 
        // implemented with
        // users.delete(user.$id);
        deleteUserProfile(admin_databases, user.$id);
        await admin_users.delete(user.$id);
        

        // Delete the session cookie
        Astro.cookies.delete(SESSION_COOKIE);
        return Astro.redirect(`register`);
  }



  
  
  

  if (!user_profile) {
    throw new Error("User profile is undefined. Cannot proceed.");
  }

  if (form_type === "update"){
    f_newsletter = form_data.get("newsletter") == 'on';
    f_zip = form_data.get("zip");
    const up_data = {
        newsletter : f_newsletter ?? false,
        zip : parseInt(f_zip, 10)
    };
    console.log("update form:", up_data)

    
    const response = await admin_databases.updateDocument(
    '67093d67002873e2c459',
    '67254b050023f2b7dd7d',
    user.$id,
    up_data
    )
    console.log("Update response:", response);
}
    
   


}

---

<style>
 .account-page { padding: 20px; }
 .update-button { margin-top: 20px; }
</style>

<Layout title="Beachvolley Zurich">
	<main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
    
            <Container>

              <h2 class="text-4xl  lg:text-5xl font-bold lg:tracking-tight mt-16 mb-24">
                {label?.data.my_account} 
              </h2>

              <section class="flex flex-col w-full pb-6">
                <div class="flex flex-row flex-wrap w-full">
                  <input id="tab-one" type="radio" name="tabs" class="peer/tab-one hidden" checked/>
                  <label for="tab-one" class="flex-1 cursor-pointer text-center p-4 peer-checked/tab-one:border-b-4 peer-checked/tab-one:border-[#2077C2] peer-checked/tab-one:text-[#2077C2]">
                    {label?.data.tab_membership} 
                  </label>
                  
                  <input id="tab-two" type="radio" name="tabs" class="peer/tab-two hidden" />
                  <label for="tab-two" class="flex-1 cursor-pointer text-center p-4 peer-checked/tab-two:border-b-4 peer-checked/tab-two:border-[#2077C2] peer-checked/tab-two:text-[#2077C2]">
                    {label?.data.tab_profile}
                  </label>
                  
                  <input id="tab-three" type="radio" name="tabs" class="peer/tab-three hidden" />
                  <label for="tab-three" class="flex-1 cursor-pointer text-center p-4 peer-checked/tab-three:border-b-4 peer-checked/tab-three:border-[#2077C2] peer-checked/tab-three:text-[#2077C2]">
                    {label?.data.tab_email}
                  </label>
                  
                  <input id="tab-four" type="radio" name="tabs" class="peer/tab-four hidden" />
                  <label for="tab-four" class="flex-1 cursor-pointer text-center p-4 peer-checked/tab-four:border-b-4 peer-checked/tab-four:border-[#2077C2] peer-checked/tab-four:text-[#2077C2]">
                    {label?.data.tab_password ?? 'Password Tab'}
                  </label>
                
              
                
              
                <div class="hidden peer-checked/tab-one:block w-full">
                  <TabMembership  />
                </div>
                <div class="hidden peer-checked/tab-two:block w-full">
                 <TabProfile user_profile={user_profile ?? {}}  /> 
                </div>
                <div class="hidden peer-checked/tab-three:block w-full">
                  <TabEmail />
                </div>
                <div class="hidden peer-checked/tab-four:block w-full">
                  <TabPassword />
                </div>
              </div>
              </section>
              
              
              
              
                    
                      <div class="text-right h-full sm:pt-0 p-6 sm:pt-0 sm:p-8">
                        <form method="POST">
                            <input type="hidden" name="form" value="signout">
                            <button type="submit" class="bg-[#2077C2] hover:bg-blue-700 text-white font-bold py-2 px-4">{label?.data.signout}</button>
                        </form>                  
                      </div>  
            </Container>    
        
    </main>
</Layout>


<script define:vars={{ f_newsletter, f_zip }}>

    const deleteForm = document.getElementById('deleteForm');
    if(deleteForm){
      deleteForm.addEventListener('submit', function(event) {
        const result = confirm("Möchtest Du Dich wirklich von Beachvolley Zürich abmelden und Deinen Account löschen?");
        if (!result) {
            event.preventDefault(); // Prevent form submission if user clicks "Cancel"
        } else {
            alert("Schade. Deine Mitgliedschaft wurde beeendet und Deine Daten wurden gelöscht. Du kannst Dich jederzeit wieder neu registrieren.")
            console.log("User chose to proceed.");
        }
    });
    } else {
      console.error("Form with ID 'deleteForm' not found.");
    }
    
  document.querySelector("[name='newsletter']").checked = f_newsletter;
  document.querySelector("[name='zip']").value = f_zip;





    // const updateForm = document.getElementById('updateForm');
    // if(updateForm)
    // document.getElementById('updateForm').addEventListener('submit', async function(event){
    //     event.preventDefault();
    //     const formData = new FormData(this);
    //     const zip = parseInt(formData.get('zip'), 10);
    //     const newsletter = formData.get('newsletter') === 'on';
        
    //     const response = await fetch(window.location.href, 
    //     { 
    //         method: 'POST',
    //         body: formData 
    //     });


    //     if (response.ok) { // Update the form field with the new value
    //          document.getElementById('zip').value = zip;
    //          document.getElementById('newsletter').checked = newsletter;
    //          alert('Danke. Dein Profil wurde aktualisiert.')
    //         } else { 
    //             alert('Error updating profile'); 
    //         }
    //     this.submit();
    // })

  
</script>
